body{
  background-color: #bfe6ff;
}
ul{
  list-style-type: none;
}
.header{
  text-align: center;
  color: darkblue;
}
.main{
  margin-left: 650px;
  margin-right: 650px;
  background-color: #bfe6ff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.balance{
  text-align: center;
  font-size: 20px;
  color: darkblue;
}
.line{
  height: 3px;
  background-color: darkblue;
}
.acountsum{
  display: flex;
  background-color: #d9f1ff;
  color: darkblue;
  justify-content: space-around;
  font-size: larger;
  border-radius: 10px;
  box-shadow: red 0px 0px 5px;

}
.incomee{
  color: orange;
  text-align: center;
  font-size: 25px;
}
.expensee{
  color: red;
  text-align: center;
  font-size: 25px;
}
.transs{
  display: flex;
  justify-content: stretch;
  width: 100%;
}
.transac{
  display: flex;
  justify-content: space-around;
  background-color: #d9f1ff;
  width: 100%;
  height: 35px;
  padding-top: 0px;
  margin: 3px;
  box-shadow: red 0px 0px 2px;
  padding-bottom: 15px;
  padding-top: 0px;
  color: darkblue;
  font-size: 20px;
  box-shadow: red 0px 0px 5px;
  border-radius: 10px;
}
.transac:hover{
  background-color: orangered;
}
.delbtn{
  opacity: 0;
  margin-top: 13px;
  width: 25px;
  height: 30px;
  padding: 0px 0px 0px 0px;
  opacity: 0.2;
  background-color: orange;
  border-radius: 5px;
}
.delbtn:hover{
  opacity: 0.8;
  background-color: red;
  border: white;
}
.transhist{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: darkblue;
  font-size: 20px;
}
.list{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.descript{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding-top: 12px;
}
.dhead{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.amnt{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding-top: 12px;

}
.ahead{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.addtrans{
  text-align: center;
  color: darkblue;
  font-size: 20px;

}
input{
  width: 100%;
  height: 30px;
}
.submission{
  background-color: red;
  border: wheat;
  opacity: 0.6;
}
.submission:hover{
  background-color: red;
  border: wheat;
  padding: 0px 5px 0 15px;
  opacity: 1;
}
.inputer{
  padding-left: 0px;
}
